<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title><%= assigns[:page_title] || "LogViz" %></title>
    <link rel="stylesheet" nonce={csp_nonce(@conn, :style)} href={asset_path(@conn, :css)}>
    <script nonce={csp_nonce(@conn, :script)} src={asset_path(@conn, :js)} defer></script>
  </head>
  <body>
    <div class="d-flex flex-column align-items-stretch layout-wrapper">
      <div class="flex-grow-1">
        <%= @inner_content %>
      </div>
      <footer class="flex-shrink-0">
        LogViz was made with love by
        <a href="https://jasonaxelson.com/" target="_blank" class="footer-dashbit">Jason Axelson</a>
      </footer>
    </div>
  </body>
</html>
