h2 {
  margin: 4px 0;
}

.log-page {
  --color-emergency: #FF6B6B;  /* Soft red */
  --color-alert: #FF6B6B;      /* Soft orange */
  --color-critical: #FF6B6B;   /* Light coral */
  --color-error: #FF8080;      /* Light red */
  --color-warn: #FFA5A5;    /* Soft yellow */
  --color-notice: #A3CB38;      /* Soft green */
  --color-debug: #54A0FF;     /* Soft blue */
}

.log-page {
  padding: 8px;
}

.log-table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 75px;
}

.log-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.log-table td, .log-table th {
  padding: 4px;
}

.log-table tr:nth-child(even) {
  background-color: #fafafafa;
}
.log-table tr:nth-child(odd) {
  background-color: #ffffff;
}
.log-table tr.log.selected-true {
  background: #ffcfff;
}

.log-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-message.level-emergency { color: var(--color-emergency); }
.log-message.level-alert { color: var(--color-alert); }
.log-message.level-critical { color: var(--color-critical); }
.log-message.level-error { color: var(--color-error); }
.log-message.level-warn { color: var(--color-warn); }
.log-message.level-notice { color: var(--color-notice); }
.log-message.level-info {  }
.log-message.level-debug { color: var(--color-debug); }

.filter-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  background: white;
  gap: 8px;
}


.filter-container input[type="text"] {
  padding: 4px;
}

.filter-container button {
  background-color: #e7e7e7;
  padding: 4px;
  border-radius: 4px;
}

.selected-log-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f6f6f6;
  left: 50%;
  padding: 4px;
  padding-bottom: 20px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.selected-log-panel .close-button {
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 1;
  line-height: 16px;
  padding: 4px;
  font-size: 16px;

  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  border: none;
}

.selected-log-panel .selected-log-message {
  padding: 4px;
  background: white;
}

.selected-log-panel .selected-log-message.long-message {
  font-size: 0.7em;
}

.selected-log-panel .metadata-entry {
  display: flex;
  gap: 4px;
  font-family: monospace;
  font-size: 12px;
  padding: 2px 4px;
}
.selected-log-panel .metadata-key {
  background: #e4dae9;
  border-radius: 2px;
  padding: 0 2px;
}

.selected-log-panel .mfa {
  word-wrap: break-word;
}

.selected-log-panel .raw-metadata {
  margin-top: 20px;
}

.expand-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  color: blue;
  padding: 2px;
  line-height: 1;
}

.flex { display: flex; }
